/* Add this to your App.css or create a new CSS file */

.App {
    text-align: center;
    background-color: #282c34;
    color: white;
    min-width: 70vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .App-header {
    padding: 20px;
  }
  
  .extension-title {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #61dafb;
    color: #282c34;
    font-size: 1em;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-field {
    padding: 10px;
    margin: 5px;
    border: 1px solid #61dafb;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color: #61dafb;
    color: #282c34;
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  